
body
    padding: 0
    margin: 0
    width: 280px
    height: 360px
    overflow-y: scroll

header
    padding: 0
    margin: 0
    background-color: #555555
    color: #AAAAAA

h1
    padding: 0
    margin: 0
    text-align: center
    font-size: 12px
